NODE_ENV=development
DATABASE_ENGINE=postgres
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres123
DATABASE_NAME=ecommerce_db
DATABASE_SCHEMA=public
DATABASE_SYNCHRONIZE=false
JWT_SECRET=74YLbq4%c!wU
JWT_EXPIRATION_TIME=1800
JWT_REFRESH_TOKEN_SECRET=7jML9q4-c!s0
JWT_REFRESH_TOKEN_EXPIRATION_TIME=86400
JWT_SET_PASSWORD_EXPIRATION_TIME=31536000
JWT_RESET_PASSWORD_EXPIRATION_TIME=3600
FRONTEND_URL=http://localhost:3000
DOMAIN=localhost
SERVER_PORT=3000
CAN_ACCESS_LOCAL=true